aniso8601
beautifulsoup4
bs4
certifi
chardet
Click
Flask
Flask-RESTful
idna
itsdangerous
Jinja2
MarkupSafe
pytz
requests
six
soup
soupsieve
urllib3
Werkzeug
speechpy
requests_toolbelt
tensorflow==1.12.0
keras
librosa
tqdm
